<!DOCTYPE html>
    <head>
        <title> Main Page  </title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">  
        <link rel="stylesheet" type="text/css" href="../css/dashboard_admin.css" />  
        </script>
    </head>
    
    <body>
      <div id="content">
        <div id="top">
          <nav id="menu">
            <li class="option">
                <a href="/loading_adm">Back</a>
              <div id="bar"></div>
            </li>
          </nav>
        </div>
    </div>
    
    <div class="container">
        <div class="space"></div>
        <form class="form" method="POST" action="/addTask">
        <div class="control">
                <div class='control block-cube block-input'>
                    <input name='name' placeholder="nazwa*" type='text' id="name" required>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
                <div class='control block-cube block-input'>
                    <input name='userlog' placeholder="User login*" type='text' id="userlog" required>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>

                <div class='control block-cube block-input'>
                    <input name='target_date' placeholder="Target date" type='date' id="target_date" required>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
                <div class='control block-cube block-input'>
                    <input name='desc' placeholder="Description" type='text' id="desc" required>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
                <button class='btn block-cube block-cube-hover' type='submit'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='text'>
                        Submit
                    </div>
                </button>
            </div>    
        </form>
    </div>
    
    </body>
</html>