<!DOCTYPE html>
    <head>
        <title> Main Page  </title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">  
        <link rel="stylesheet" type="text/css" href="../css/dashboard_user.css" />  
    </head>
    
    <body>
     <div id="conent">
      <div id="top">
        <nav id="menu">
          <li class="option">Works <div id="bar"></div></li>
          <li class="option">Hours <div id="bar"></div></li>
          <li class="option">Contact <div id="bar"></div></li>
        </nav>
      </div>
      <div id="rest">
        <div id="left">
          <div id="taskTop">To Do</div>

          <div id="tasks">
            <% tasks.forEach((elem, index, arr) => {  %>
              <%if(status[index] == "DO") {%>
            <div id="task">
              <div id="taskText"><%-elem%></div>
              <div id="taskButton"><a>Details</a>
                <div id="bar2"></div></div>
             </div>
             <%}%>
             <%})%>
          </div>
        </div>
        <div id="middle">
          <div id="taskTop">In Progress</div>
          <div id="tasks">
            <% tasks.forEach((elem, index, arr) => {  %>
              <%if(status[index] == "INP") {%>
            <div id="task">
              <div id="taskText"><%-elem%></div>
              <div id="taskButton"><a>Details</a>
                <div id="bar2"></div></div>
             </div>
             <%}%>
             <%})%>
          </div>
        </div>
        <div id="right">
          <div id="taskTop">Done</div>
          <div id="tasks">
            <% tasks.forEach((elem, index, arr) => {  %>
              <%if(status[index] == "DONE") {%>
            <div id="task">
              <div id="taskText"><%-elem%></div>
              <div id="taskButton"><a>Details</a>
                <div id="bar2"></div></div>
             </div>
             <%}%>
             <%})%>
          </div>
        </div>
      </div>
     </div>

    </body>
</html>