:root{
	--bgc: #141714;
	--green: #02CD0A;
	--dark_green: #009306;
	background-color: var(--bgc);
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
}

/* desktop */
#main{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#menu{
	display: flex;
	justify-content: row;
}

#top{
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.option{
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
    margin-left: 20px;
	letter-spacing: 10px;
    transition-duration: 700ms;
	padding: 10px;
	position: relative;
}

li, a{
	text-decoration: none;
	color: white;
	transition-duration: 500ms;
	list-style: none;
	letter-spacing: 3px;
}

.dropdown{
	background-color: var(--bgc);
	padding: 1em 0;
	position: absolute;
	display: none;
	border-radius: 8px;
	top: 35px;
}

.dropdown li + li{
	margin-top: 10px;
}

.dropdown li{
	padding: 0.5em 1em;
	width: 8em;
	text-align: left;
}	

.dropdown li:hover{
	background-color: var(--bgc);
}

.option:hover .dropdown{
	display: block;
}

a:hover{
	color: var(--green);
	cursor: pointer;
	fill: var(--green);
}

.option:hover{
	color: var(--green);
	cursor: pointer;
	fill: var(--green);
}

#bar{
	margin-top: 10px;
	background-color: var(--green);
	width: 20px;
	height: 1px;
}

#bar2{
	margin-top: 10px;
	background-color: var(--green);
	width: 100%;
	height: 1px;
}