#content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#view
{
    width: 100%;
}
#contentLeft
{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292929;
}
#contentleftTop
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
#contentleftTop h1
{
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 20px;
}
#contentLeftRest
{
    margin-top: -15%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
#contentRight
{
    width: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#contentRightTop
{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color: #292929;

}
#contentRightRest
{
    width: 100%;
    height: 90%;
    font-display: flex;
}
.contentbar
{
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    transition-duration: 400ms;
    animation: animate2 1.5s;
}
.contentbarSelected
{
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    color: #41b883;
    font-size: 25px;
    letter-spacing: 3px;
    transition-duration: 400ms;
}
.contentbarSelected:hover
{
    color: white;
    cursor: pointer;
}
.contentbar:hover
{
 color: #41b883;
 cursor: pointer;
}
#title
{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 2px;
}
#workers
{
    margin-top: 25px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    animation: animate 1.5s;
}
#selectOptionWarker
{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#selectOptionWarkerButton
{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    transition-duration: 400ms;
}
#selectOptionWarkerButton:hover
{
    border-bottom: 2px solid #41b883;
    color: #41b883;
    cursor: pointer;
}
#selectOptionWarkerButtonFocus
{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #41b883;
    color: #41b883;
    font-size: 25px;
    letter-spacing: 2px;
    transition-duration: 400ms;
}
#worker
{
    margin-top: 10px;
    margin-left: 15px;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid #41b883;
    transition-duration: 400ms;
}
#worker:hover
{
    color:#41b883;
    cursor: pointer;
    box-shadow: 0px 0px 24px -8px rgba(75, 134, 80, 1);
}
#Project
{
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    border: 1px solid #41b883;
    background-color: transparent;
    transition-duration: 400ms;
}
#Project:hover
{
    color:#41b883;
    cursor: pointer;
    box-shadow: 0px 0px 24px -8px rgba(75, 134, 80, 1);
}
#progress
{
    width: 100%;
    height: 40px;
}
#workerImg
{
    width: 30px;
}
#name
{
    font-size: 25px;
    margin-left: 15px;
    letter-spacing: 3px;
}




.statisctic
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.panelTop
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
}
.panelRest
{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statisticProcent
{
    height: 40%;
    font-size: 40px;
    letter-spacing: 3px;
}
#file
{
    width: 300px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
}
#file::-moz-progress-bar {
    background-color: #91b4cf;
  }
  #file2
{
    margin-top: 10px;
    width: 200px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
}
#file2::-moz-progress-bar {
    background-color: #91b4cf;
  }
  .statisticProcent2
  {
    font-size: 20px;
  }
  #progress
  {
    margin-top: 20px;
  }
#Add
{
    margin-top: 30px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    border: 2px solid white;
    transition-duration: 400ms;
}
#list
{
    display: flex;
    flex-direction: column;
}
#listList
{
    margin-top:15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: wokrekIn 4s;
}
#Add:hover
{
    color: #41b883;
    border: 2px solid #41b883;
}
#showWorker
{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: outerLeft 2s;
}
#details
{
    width: 100%;
    height: 1005;
}
#addWorker
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: innerLeft 2s;
}
#formWorker
{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#projects
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#assingments
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.inputWorker
{
    width: 350px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    margin-top: 15px;
    border-bottom: 2px solid white;
    transition-duration: 400ms;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 5px 5px 0px 0px;
}
.inputWorker:hover
{
    border-bottom: 2px solid #41b883;
    color: #41b883;
    cursor: pointer;
}
.inputWorker:focus
{
    outline: none;
}
@keyframes animate {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes innerLeft
{
    0%{
       opacity: 0;
      }
    100%{
        opacity: 1;
      }
}

@keyframes outerLeft
{
    0%{
        opacity: 0;
       }
     100%{
         opacity: 1;
       }
}
.progress-6 {
    width:120px;
    height:22px;
    border-radius: 20px;
    color:#514b82;
    border:2px solid;
    position: relative;
  }
  .progress-6::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:currentColor;
    animation:p6 2s  ;
  }
  @keyframes p6 {
      100% {inset:1}
  }
  @keyframes wokrekIn
  {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  #workers2
  {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #chart
  {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  #chartTitle
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 2px;
  }
  #chartrow
  {
    width: 100%;
    display: flex;
    margin-top: 15px;
    flex-direction: row;
  }
  #buttonsSelectMonth
  {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #monthButton
  {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
    transition-duration: 400ms;
}
#monthButton:hover
{
    color: #41b883;
    border: 1px solid #41b883;
    cursor: pointer;
}